type hal_bluetooth_athene, domain;
type hal_bluetooth_athene_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_bluetooth_athene);
vndbinder_use(hal_bluetooth_athene);
