type hal_qseecomd, domain;
type hal_qseecomd_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_qseecomd);
vndbinder_use(hal_qseecomd);
