type hal_msm_irqbalance, domain;
type hal_msm_irqbalance_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_msm_irqbalance);
vndbinder_use(hal_msm_irqbalance);
