type hal_irsc_util, domain;
type hal_irsc_util_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_irsc_util);
vndbinder_use(hal_irsc_util);
