type hal_qti_perf, domain;
type hal_qti_perf_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_qti_perf);
vndbinder_use(hal_qti_perf);
