type hal_moto_sensors, domain;
type hal_moto_sensors_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_moto_sensors);
vndbinder_use(hal_moto_sensors);
