type hal_power_athene, domain;
type hal_power_athene_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_power_athene);
vndbinder_use(hal_power_athene);
