type hal_imsqmidaemon, domain;
type hal_imsqmidaemon_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_imsqmidaemon);
vndbinder_use(hal_imsqmidaemon);
