type hal_imsdatadaemon, domain;
type hal_imsdatadaemon_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_imsdatadaemon)
vndbinder_use(hal_imsdatadaemon);
