allow kernel audioserver:process setsched;
allow kernel bluetooth:process setsched;
allow kernel fingerprintd:process setsched;
allow kernel gatekeeperd:process setsched;
allow kernel hw_block_device:blk_file rw_file_perms;
allow kernel isolated_app:process setsched;
allow kernel lmkd:process setsched;
allow kernel logd:process setsched;
allow kernel mediacodec:process setsched;
allow kernel mediaextractor:process setsched;
allow kernel platform_app:process setsched;
allow kernel priv_app:process setsched;
allow kernel radio:process setsched;
allow kernel servicemanager:process setsched;
allow kernel surfaceflinger:process setsched;
allow kernel system_app:process setsched;
allow kernel system_server:process setsched;
allow kernel tee:process setsched;
allow kernel untrusted_app:process setsched;
allow kernel utags_block_device:blk_file rw_file_perms;
allow kernel zygote:process setsched;
