type hal_moto_cam, domain;
type hal_moto_cam_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_moto_cam)
vndbinder_use(hal_moto_cam);
